	
h1 {
  color: lightpink;
  font-size: 36px;
  font-weight: bolder;
  font-family: American Typewriter;
  border: double;
}


* {

background-image: url('https://www.toptal.com/designers/subtlepatterns/uploads/repeated-square.png');
      background-repeat: repeat;
      background-size: auto;
	
}

li {
  font-style: italic;
  color: lightpink;
}

html,body{
    font-size: 14px;
    display:block;
    max-width:800px;
    margin:0 auto;
    padding:30px;
    border: dashed;
    border-color: darkgreen;
}

.headline{
    text-align:center;
}



